body{background-color:#16191b;}

div{/*text-align:center*/;
 background-color:red;
  padding-top: 15px;
  padding-bottom: 10px;
	margin-top:px ;}

h1{font-family: 'Brush Script MT', cursive;
 color:#D11BAE;
 text-align:center }

a {text-decoration: none;}

#myaudio{position: absolute;}

h2{color: blue;
    text-align:center}

#dark{text-align:; }